Repository ModelEngine-Group/fit-framework, pull requests merged in 2025-06, with the labels that each got.

#151 [fit] Add HTTP proxy support with client-server examples
  examples/fit-example/07-http-client-proxy/plugin-http-client/pom.xml
  examples/fit-example/07-http-client-proxy/plugin-http-client/src/main/java/modelengine/fit/example/client/TestInterface.java
  examples/fit-example/07-http-client-proxy/plugin-http-client/src/main/java/modelengine/fit/example/client/TestRequestAddress.java
  examples/fit-example/07-http-client-proxy/plugin-http-client/src/main/java/modelengine/fit/example/client/TestRequestAddressClass.java
  examples/fit-example/07-http-client-proxy/plugin-http-client/src/main/java/modelengine/fit/example/client/TestRequestAddressInClassMapping.java
  examples/fit-example/07-http-client-proxy/plugin-http-client/src/main/java/modelengine/fit/example/client/TestRequestAddressInMethodMapping.java
  examples/fit-example/07-http-client-proxy/plugin-http-client/src/main/java/modelengine/fit/example/config/DefaultAddressLocator.java
  examples/fit-example/07-http-client-proxy/plugin-http-client/src/main/java/modelengine/fit/example/controller/TestClientController.java
  examples/fit-example/07-http-client-proxy/plugin-http-client/src/main/java/modelengine/fit/example/entity/Education.java
  examples/fit-example/07-http-client-proxy/plugin-http-client/src/main/resources/application.yml
  examples/fit-example/07-http-client-proxy/plugin-http-server/pom.xml
  examples/fit-example/07-http-client-proxy/plugin-http-server/src/main/java/modelengine/fit/example/controller/TestServerController.java
  examples/fit-example/07-http-client-proxy/plugin-http-server/src/main/java/modelengine/fit/example/entity/Education.java
  examples/fit-example/07-http-client-proxy/plugin-http-server/src/main/resources/application.yml
  examples/fit-example/07-http-client-proxy/pom.xml
  examples/fit-example/pom.xml
  framework/fit/java/fit-builtin/plugins/fit-client-http/src/main/java/modelengine/fit/client/http/support/HttpProxyCreator.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/annotation/HttpProxy.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/annotation/RequestAddress.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/annotation/RequestAuthorization.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/client/proxy/RequestBuilder.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/client/proxy/scanner/AddressLocator.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/client/proxy/scanner/AnnotationParser.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/client/proxy/scanner/HttpInvocationHandler.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/client/proxy/scanner/ParamResolver.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/client/proxy/scanner/entity/Address.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/client/proxy/scanner/entity/HttpInfo.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/client/proxy/scanner/resolver/PathVariableResolver.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/client/proxy/scanner/resolver/RequestBodyResolver.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/client/proxy/scanner/resolver/RequestCookieResolver.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/client/proxy/scanner/resolver/RequestFormResolver.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/client/proxy/scanner/resolver/RequestHeaderResolver.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/client/proxy/scanner/resolver/RequestQueryResolver.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/client/proxy/support/DefaultRequestBuilder.java
  framework/fit/java/fit-plugin/src/main/java/modelengine/fitframework/globalization/ResourceBundleStringResource.java
Labels: type: enhancement, in: fit

#154 [python] Expand the code node whitelist
  framework/fel/python/plugins/builtins/fit_py_code_node_tools/conf/application.yml
  framework/fel/python/requirements.txt
Labels: in: fit, type: dependency-upgrade

#155 [python] update code node whitelist version
  framework/fel/python/requirements.txt
Labels: type: enhancement, in: fit

#156 [elsa] fix(LlmNodeState): add conditional enableLog control and initialization
  framework/elsa/fit-elsa-react/src/components/llm/LlmOutput.jsx
  framework/elsa/fit-elsa-react/src/flow/compatibility/compatibilityProcessors.js
Labels: type: bug, in: elsa

#165 [fel] add key scenario cases
  framework/fel/java/fel-flow/src/main/java/modelengine/fel/engine/activities/AiConditions.java
  framework/fel/java/fel-flow/src/main/java/modelengine/fel/engine/activities/AiState.java
  framework/fel/java/fel-flow/src/main/java/modelengine/fel/engine/activities/AiWhenHappen.java
  framework/fel/java/fel-flow/src/main/java/modelengine/fel/engine/flows/Conversation.java
  framework/fel/java/fel-flow/src/main/java/modelengine/fel/engine/operators/patterns/AbstractFlowPattern.java
  framework/fel/java/fel-flow/src/test/java/modelengine/fel/engine/AiFlowCaseTest.java
  framework/waterflow/java/waterflow-core/src/main/java/modelengine/fit/waterflow/domain/context/repo/flowcontext/FlowContextMessenger.java
  framework/waterflow/java/waterflow-core/src/main/java/modelengine/fit/waterflow/domain/states/Conditions.java
  framework/waterflow/java/waterflow-core/src/main/java/modelengine/fit/waterflow/domain/states/State.java
  framework/waterflow/java/waterflow-core/src/main/java/modelengine/fit/waterflow/domain/states/WhenHappen.java
  framework/waterflow/java/waterflow-core/src/main/java/modelengine/fit/waterflow/domain/stream/nodes/ConditionsNode.java
  framework/waterflow/java/waterflow-core/src/main/java/modelengine/fit/waterflow/domain/stream/nodes/To.java
  framework/waterflow/java/waterflow-core/src/main/java/modelengine/fit/waterflow/domain/stream/operators/Operators.java
  framework/waterflow/java/waterflow-core/src/main/java/modelengine/fit/waterflow/domain/stream/reactive/Subscriber.java
  framework/waterflow/java/waterflow-core/src/main/java/modelengine/fit/waterflow/domain/stream/reactive/Subscription.java
  framework/waterflow/java/waterflow-core/src/main/java/modelengine/fit/waterflow/domain/stream/reactive/When.java
  framework/waterflow/java/waterflow-core/src/test/java/modelengine/fit/waterflow/domain/WaterFlowsTest.java
Labels: in: fel, in: waterflow, type: task

#179 fix: missing serializer specification
  examples/fel-example/04-output-parser/src/main/java/modelengine/example/ai/chat/parser/OutputParserExampleController.java
  examples/fel-example/05-retrieval/src/main/java/modelengine/example/ai/chat/retrieval/RetrievalExampleController.java
  framework/fel/java/plugins/tool-discoverer/src/main/java/modelengine/fel/tool/support/DefaultToolDiscoverer.java
Labels: type: bug, in: fit
