Repository ModelEngine-Group/fit-framework, pull requests merged in 2025-03, with the labels that each got.

#2 支持 mybatis 配置自动下划线转驼峰：mybatis.map-underscore-to-camelcase
  docs/framework/fit/java/user-guide-book/07. 数据访问.md
  framework/fit/java/integration/fit-mybatis/pom.xml
  framework/fit/java/integration/fit-mybatis/src/main/java/modelengine/fit/integration/mybatis/MybatisBeanContainerInitializedObserver.java
  framework/fit/java/integration/fit-mybatis/src/test/java/modelengine/fit/integration/mybatis/WordMapperTest.java
  framework/fit/java/integration/fit-mybatis/src/test/java/modelengine/fit/integration/mybatis/mapper/WordMapper.java
  framework/fit/java/integration/fit-mybatis/src/test/java/modelengine/fit/integration/mybatis/model/WordDo.java
  framework/fit/java/integration/fit-mybatis/src/test/resources/application.yml
  framework/fit/java/integration/fit-mybatis/src/test/resources/mapper/WordMapper.xml
  framework/fit/java/integration/fit-mybatis/src/test/resources/sql/create/word.sql
Labels: type: enhancement, in: fit

#7 [fit] 修复校验泛型元素为空时的错误
  framework/fit/java/fit-extension/fit-validation/src/main/java/modelengine/fitframework/validation/ValidationHandler.java
  framework/fit/java/fit-extension/fit-validation/src/test/java/modelengine/fitframework/validation/ValidationDataControllerTest.java
  framework/fit/java/fit-extension/fit-validation/src/test/java/modelengine/fitframework/validation/annotation/MaxSize.java
  framework/fit/java/fit-extension/fit-validation/src/test/java/modelengine/fitframework/validation/data/Product.java
  framework/fit/java/fit-extension/fit-validation/src/test/java/modelengine/fitframework/validation/validator/MaxSizeValidator.java
Labels: type: bug, in: fit

#12 [fit] 修复http进行流式下载时，status code返回0导致链接中断的问题
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/server/support/DefaultHttpClassicServerResponse.java
Labels: type: bug, in: fit

#18 [elsa] 修复elsa-react在运行npm run dev命令后无法启动的问题
  framework/elsa/fit-elsa-react/.gitignore
  framework/elsa/fit-elsa-react/index.html
Labels: type: bug, in: elsa
