Repository ModelEngine-Group/fit-framework, pull requests merged in 2025-04, with the labels that each got.

#21 [elsa] 添加elsa相关的github actions配置
  .github/workflows/elsa-compile.yml
Labels: type: task, in: elsa

#20 [elsa] 升级依赖axios和webpack至无漏洞的版本
  framework/elsa/fit-elsa-react/package.json
  framework/elsa/fit-elsa/package.json
Labels: type: dependency-upgrade, in: elsa

#23 [elsa] elsa-react默认操作由选中改为拖拽画布
  framework/elsa/fit-elsa-react/src/flow/jadeFlowPage.js
  framework/elsa/fit-elsa/core/page.js
Labels: type: enhancement, in: elsa

#24 [elsa] 优化testRun逻辑，避免返回的nodes顺序与流的顺序不一致，发生刷新状态错序的问题
  framework/elsa/fit-elsa-react/src/flow/jadeFlowPage.js
Labels: type: bug, in: elsa

#25 [elsa] 修复条件节点运行结果空指针问题
  framework/elsa/fit-elsa-react/src/components/flowRunComponent/SectionFactory.jsx
Labels: type: bug, in: elsa

#27 [elsa] 修复大模型节点工具对应插件/工作流被卸载/删除后，编排页面未进行展示的问题
  framework/elsa/fit-elsa-react/src/components/llm/LlmFormWrapper.jsx
Labels: type: bug, in: elsa

#29 [elsa] 开始节点添加应用配置
  framework/elsa/fit-elsa-react/src/components/start/AppConfiguration.jsx
  framework/elsa/fit-elsa-react/src/components/start/StartFormWrapper.jsx
  framework/elsa/fit-elsa-react/src/components/start/startComponent.jsx
  framework/elsa/fit-elsa-react/src/data/GraphOperator.js
  framework/elsa/fit-elsa-react/src/en_US.json
  framework/elsa/fit-elsa-react/src/testFlowData.js
  framework/elsa/fit-elsa-react/src/zh_CN.json
Labels: type: enhancement, in: elsa

#33 [framework] 添加 java 框架的 github action 文件
  .github/workflows/framework-java-compile.yml
Labels: in: fit, type: task

#36 [elsa] 修改elsa-react中对core的引用路径
  framework/elsa/fit-elsa-react/src/flow/jadeFlowPage.js
Labels: type: enhancement, in: elsa

#31 [ohscript] 修改ohscript生成随机uuid方式提升性能
  framework/ohscript/src/main/java/modelengine/fit/ohscript/util/Tool.java
Labels: type: enhancement, in: ohscript

#38 [elsa] 修改国际化中的中文描述
  framework/elsa/fit-elsa-react/src/zh_CN.json
Labels: type: enhancement, in: elsa

#39 [elsa] 修复大模型节点前有环路的情况下无法流式输出的问题
  framework/elsa/fit-elsa-react/src/components/base/jadeNode.jsx
Labels: type: bug, in: elsa

#37 [fit] 添加fit-security-simple插件
  framework/fit/java/fit-builtin/plugins/fit-security-simple/pom.xml
  framework/fit/java/fit-builtin/plugins/fit-security-simple/src/main/java/modelengine/fit/security/simple/SimpleCipher.java
  framework/fit/java/fit-builtin/plugins/fit-security-simple/src/main/resources/application.yml
  framework/fit/java/fit-builtin/plugins/pom.xml
Labels: type: enhancement, in: fit

#44 [elsa] 增加图形点击后弹出抽屉进行配置的代码
  framework/elsa/fit-elsa-react/src/components/DefaultRoot.jsx
  framework/elsa/fit-elsa-react/src/components/base/jadeNode.jsx
  framework/elsa/fit-elsa-react/src/components/common/style.css
  framework/elsa/fit-elsa-react/src/components/condition/ConditionFormWrapper.jsx
  framework/elsa/fit-elsa-react/src/components/condition/conditionComponent.jsx
  framework/elsa/fit-elsa-react/src/components/defaultComponent.js
  framework/elsa/fit-elsa-react/src/components/headerStyle.css
  framework/elsa/fit-elsa-react/src/components/note/noteNode.jsx
  framework/elsa/fit-elsa-react/src/components/questionClassification/QuestionClassificationPanel.jsx
  framework/elsa/fit-elsa-react/src/components/questionClassification/QuestionClassificationWrapper.jsx
  framework/elsa/fit-elsa-react/src/components/questionClassification/questionClassificationComponent.jsx
  framework/elsa/fit-elsa-react/src/flow/jadeFlowEntry.jsx
  framework/elsa/fit-elsa-react/src/testFlowData.js
  framework/elsa/fit-elsa/core/shape.js
Labels: type: enhancement, in: elsa

#45 [fit] 捕获流式调用报错信息
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/client/support/TextStreamChoir.java
Labels: type: enhancement, in: fit

#42 [fit] 修复广播模式下如果genericable无返回值时的报错问题
  framework/fit/java/fit-broker/src/main/java/modelengine/fitframework/broker/support/MulticastFitableExecutor.java
  framework/fit/java/fit-broker/src/main/java/modelengine/fitframework/broker/support/MulticastGenericableExecutor.java
Labels: type: bug, in: fit

#55 [elsa] 去除结束节点直接输出结果中输出的popover
  framework/elsa/fit-elsa-react/src/components/common/JadePanelHeader.jsx
  framework/elsa/fit-elsa-react/src/components/end/EndInputForm.jsx
  framework/elsa/fit-elsa-react/src/components/end/OutputVariable.jsx
  framework/elsa/fit-elsa-react/src/en_US.json
  framework/elsa/fit-elsa-react/src/zh_CN.json
Labels: type: enhancement, in: elsa

#56 [elsa] 循环节点增加默认的context入参
  framework/elsa/fit-elsa-react/src/common/Consts.js
  framework/elsa/fit-elsa-react/src/components/loopNode/loopComponent.jsx
  framework/elsa/fit-elsa-react/src/components/loopNode/loopNodeState.jsx
  framework/elsa/fit-elsa-react/src/flow/compatibility/compatibilityProcessors.js
  framework/elsa/fit-elsa-react/src/shapes/systemEnv.jsx
Labels: type: enhancement, in: elsa

#57 [elsa] 编排时节点支持精简模式
  framework/elsa/fit-elsa-react/src/App.jsx
  framework/elsa/fit-elsa-react/src/components/DefaultRoot.jsx
  framework/elsa/fit-elsa-react/src/components/code/CodePanel.jsx
  framework/elsa/fit-elsa-react/src/components/common/AiPromptPanel.jsx
  framework/elsa/fit-elsa-react/src/components/common/InvokeOutput.jsx
  framework/elsa/fit-elsa-react/src/components/common/JadeCollapse.jsx
  framework/elsa/fit-elsa-react/src/components/common/JadeInputForm.jsx
  framework/elsa/fit-elsa-react/src/components/common/JadeInputTreeCollapse.jsx
  framework/elsa/fit-elsa-react/src/components/common/JadeObservableOutput.jsx
  framework/elsa/fit-elsa-react/src/components/common/ModelConfig.jsx
  framework/elsa/fit-elsa-react/src/components/common/OutputForm.jsx
  framework/elsa/fit-elsa-react/src/components/condition/ConditionFormWrapper.jsx
  framework/elsa/fit-elsa-react/src/components/condition/IfForm.jsx
  framework/elsa/fit-elsa-react/src/components/condition/conditionComponent.jsx
  framework/elsa/fit-elsa-react/src/components/defaultComponent.js
  framework/elsa/fit-elsa-react/src/components/end/EndInputForm.jsx
  framework/elsa/fit-elsa-react/src/components/end/OutputVariable.jsx
  framework/elsa/fit-elsa-react/src/components/evaluation/evaluationEnd/EvaluationOutput.jsx
  framework/elsa/fit-elsa-react/src/components/fitInvokeNode/FitInvokeOutput.jsx
  framework/elsa/fit-elsa-react/src/components/fitInvokeNode/FitInvokeService.jsx
  framework/elsa/fit-elsa-react/src/components/httpNode/HttpWrapper.jsx
  framework/elsa/fit-elsa-react/src/components/httpNode/RequestConfig.jsx
  framework/elsa/fit-elsa-react/src/components/httpNode/RequestParams.jsx
  framework/elsa/fit-elsa-react/src/components/httpNode/style.css
  framework/elsa/fit-elsa-react/src/components/intelligentForm/IntelligentFormWrapper.jsx
  framework/elsa/fit-elsa-react/src/components/intelligentForm/IntelligentInputFormItem.jsx
  framework/elsa/fit-elsa-react/src/components/knowledgeRetrieval/SearchForm.jsx
  framework/elsa/fit-elsa-react/src/components/llm/KnowledgeForm.jsx
  framework/elsa/fit-elsa-react/src/components/llm/LlmOutput.jsx
  framework/elsa/fit-elsa-react/src/components/llm/ModelForm.jsx
  framework/elsa/fit-elsa-react/src/components/llm/SkillForm.jsx
  framework/elsa/fit-elsa-react/src/components/manualCheck/JadePanelCollapse.jsx
  framework/elsa/fit-elsa-react/src/components/manualCheck/ManualCheckFormOutput.jsx
  framework/elsa/fit-elsa-react/src/components/queryOptimization/OptimizationConfig.jsx
  framework/elsa/fit-elsa-react/src/components/questionClassification/QuestionClassificationPanel.jsx
  framework/elsa/fit-elsa-react/src/components/questionClassification/QuestionClassificationWrapper.jsx
  framework/elsa/fit-elsa-react/src/components/questionClassification/questionClassificationComponent.jsx
  framework/elsa/fit-elsa-react/src/components/retrieval/InputForm.jsx
  framework/elsa/fit-elsa-react/src/components/retrieval/KnowledgeForm.jsx
  framework/elsa/fit-elsa-react/src/components/start/AppConfiguration.jsx
  framework/elsa/fit-elsa-react/src/components/start/MultiConversation.jsx
  framework/elsa/fit-elsa-react/src/components/start/StartFormWrapper.jsx
  framework/elsa/fit-elsa-react/src/components/textExtraction/HistoryConfig.jsx
  framework/elsa/fit-elsa-react/src/components/textExtraction/TextExtractionInput.jsx
  framework/elsa/fit-elsa-react/src/components/textExtraction/TextExtractionSchema.jsx
  framework/elsa/fit-elsa-react/src/components/textToImage/TextToImageParamConfig.jsx
  framework/elsa/fit-elsa-react/src/components/variableAggregation/VariableAggregationInputForm.jsx
Labels: type: enhancement, in: elsa

#59 [elsa] 修复代码节点精简模式报错的问题
  framework/elsa/fit-elsa-react/src/components/code/CodePanel.jsx
Labels: type: bug, in: elsa

#60 [elsa] 修复循环节点新增字段数据格式问题
  framework/elsa/fit-elsa-react/src/common/Consts.js
Labels: type: bug, in: elsa

#61 [elsa] 修复智能编排表单节点在表单选项输入值时，可能出现的数据格式不正确问题
  framework/elsa/fit-elsa-react/src/components/intelligentForm/FormItemSelectValue.jsx
Labels: type: bug, in: elsa

#82 [elsa] 修复注释节点无法编辑的问题
  framework/elsa/fit-elsa-react/src/components/DefaultRoot.jsx
Labels: type: bug, in: elsa

#88 [elsa] 注释节点强制列表样式
  framework/elsa/fit-elsa-react/src/components/note/editor.css
Labels: type: enhancement, in: elsa

#89 [elsa] 优化节点排序逻辑
  framework/elsa/fit-elsa-react/src/flow/jadeFlowPage.js
  framework/elsa/fit-elsa-react/src/testFlowData.js
Labels: type: enhancement, in: elsa

#90 [elsa] 修复页面打开应用时持续转圈无法操作的问题
  framework/elsa/fit-elsa-react/src/components/base/jadeNodeDrawer.jsx
Labels: type: bug, in: elsa

#92 [elsa] 增强对元数据schema的判断，避免错误schema影响处理逻辑
  framework/elsa/fit-elsa-react/src/components/base/baseToolNode.jsx
  framework/elsa/fit-elsa-react/src/components/fitInvokeNode/fitInvokeComponent.jsx
  framework/elsa/fit-elsa-react/src/components/loopNode/SkillForm.jsx
  framework/elsa/fit-elsa-react/src/components/manualCheck/ManualCheckForm.jsx
  framework/elsa/fit-elsa-react/src/components/textExtraction/reducers.js
  framework/elsa/fit-elsa-react/src/components/util/MethodMetaDataParser.js
Labels: type: enhancement, in: elsa

#96 [elsa] 获取测试报告的代码鲁棒性增强
  framework/elsa/fit-elsa-react/src/components/base/jadeNode.jsx
Labels: type: enhancement, in: elsa

#97 [elsa] 知识检索节点添加userId入参
  framework/elsa/fit-elsa-react/src/common/Consts.js
  framework/elsa/fit-elsa-react/src/components/knowledgeRetrieval/knowledgeRetrievalComponent.jsx
  framework/elsa/fit-elsa-react/src/components/knowledgeRetrieval/knowledgeRetrievalNodeState.jsx
  framework/elsa/fit-elsa-react/src/flow/compatibility/compatibilityProcessors.js
Labels: type: enhancement, in: elsa

#98 [python] 升级 python 依赖三方包的版本
  framework/fit/python/requirements.txt
Labels: in: fit, type: dependency-upgrade

#99 [elsa] 交互逻辑修改
  framework/elsa/fit-elsa-react/src/components/DefaultRoot.jsx
  framework/elsa/fit-elsa-react/src/components/base/jadeNode.jsx
Labels: type: enhancement, in: elsa

#102 [elsa] SELECT_KNOWLEDGE_BASE_GROUP事件增加selectedGroupId的传参
  framework/elsa/fit-elsa-react/src/components/retrieval/KnowledgeForm.jsx
Labels: type: enhancement, in: elsa

#104 [elsa] typeFilter对入参o的属性增加空指针校验
  framework/elsa/fit-elsa-react/src/components/variableAggregation/VariableAggregationInputForm.jsx
Labels: type: enhancement, in: elsa

#105 [elsa] 智能编排表单节点增强
  framework/elsa/fit-elsa-react/src/common/Consts.js
  framework/elsa/fit-elsa-react/src/components/intelligentForm/Consts.js
  framework/elsa/fit-elsa-react/src/components/intelligentForm/FormItemFieldType.jsx
  framework/elsa/fit-elsa-react/src/components/intelligentForm/FormItemRenderType.jsx
  framework/elsa/fit-elsa-react/src/components/intelligentForm/FormItemSelectValue.jsx
  framework/elsa/fit-elsa-react/src/components/intelligentForm/IntelligentInputFormItem.jsx
  framework/elsa/fit-elsa-react/src/components/intelligentForm/reducers.js
  framework/elsa/fit-elsa-react/src/en_US.json
  framework/elsa/fit-elsa-react/src/zh_CN.json
Labels: type: enhancement, in: elsa

#106 [elsa] 指定ol和ul对应样式的适配范围
  framework/elsa/fit-elsa-react/src/components/note/TextEditor.jsx
  framework/elsa/fit-elsa-react/src/components/note/editor.css
Labels: type: enhancement, in: elsa

#108 [elsa] 隐藏知识检索的重排选项
  framework/elsa/fit-elsa-react/src/components/knowledgeRetrieval/SearchForm.jsx
Labels: type: task, in: elsa

#109 [fit] 优化序列化器逻辑
  framework/fel/java/maven-plugins/tool-maven-plugin/src/main/java/modelengine/fel/maven/complie/plugin/UrlClassLoaderInitializer.java
  framework/fit/java/fit-builtin/plugins/fit-message-serializer-json-jackson/src/main/java/modelengine/fit/serialization/json/jackson/JacksonObjectSerializer.java
  framework/fit/java/fit-builtin/plugins/fit-message-serializer-json-jackson/src/test/java/modelengine/fit/serialization/json/jackson/JacksonObjectSerializerTest.java
Labels: type: bug, in: fit

#111 [elsa] 修改注释节点列表中li标签的样式
  framework/elsa/fit-elsa-react/src/components/note/editor.css
Labels: type: enhancement, in: elsa

#112 [elsa] 修复智能表单问题
  framework/elsa/fit-elsa-react/src/components/intelligentForm/FormItemSelectValue.jsx
  framework/elsa/fit-elsa-react/src/components/intelligentForm/IntelligentFormWrapper.jsx
  framework/elsa/fit-elsa-react/src/components/intelligentForm/IntelligentInputFormItem.jsx
  framework/elsa/fit-elsa-react/src/components/start/StartFormWrapper.jsx
Labels: type: bug, in: elsa
