Repository ModelEngine-Group/fit-framework, pull requests merged in 2025-05, with the labels that each got.

#115 [elsa] 大模型节点模型下拉框宽度自适应
  framework/elsa/fit-elsa-react/src/components/llm/Model.jsx
Labels: type: enhancement, in: elsa

#116 [elsa] elsa-react打包添加翻译文件
  framework/elsa/fit-elsa-react/package.json
  framework/elsa/fit-elsa-react/src/i18n/en_US.json
  framework/elsa/fit-elsa-react/src/i18n/i18n.js
  framework/elsa/fit-elsa-react/src/i18n/zh_CN.json
  framework/elsa/fit-elsa-react/src/main.jsx
Labels: type: enhancement, in: elsa

#103 [elsa] 序列化保存改同步
  framework/elsa/fit-elsa/core/atom.js
Labels: type: enhancement, in: elsa

#118 [elsa] 添加README
  framework/elsa/README.md
Labels: type: enhancement, in: elsa

#119 [elsa] 知识检索节点参数修改
  framework/elsa/fit-elsa-react/src/common/Consts.js
  framework/elsa/fit-elsa-react/src/components/knowledgeRetrieval/KnowledgeRetrievalWrapper.jsx
  framework/elsa/fit-elsa-react/src/components/knowledgeRetrieval/knowledgeRetrievalComponent.jsx
  framework/elsa/fit-elsa-react/src/components/knowledgeRetrieval/knowledgeRetrievalNodeState.jsx
  framework/elsa/fit-elsa-react/src/components/knowledgeRetrieval/reducers.js
  framework/elsa/fit-elsa-react/src/components/retrieval/KnowledgeForm.jsx
  framework/elsa/fit-elsa-react/src/flow/compatibility/compatibilityProcessors.js
Labels: type: enhancement, in: elsa

#117 [elsa] 隐藏文件提取节点中的提取说明配置，避免引起歧义
  framework/elsa/fit-elsa-react/src/components/fileExtraction/FileExtractionWrapper.jsx
Labels: type: enhancement, in: elsa

#123 [elsa] Fix bugs of 0.1.x.
  framework/elsa/fit-elsa-react/src/common/Consts.js
  framework/elsa/fit-elsa-react/src/components/knowledgeRetrieval/KnowledgeRetrievalWrapper.jsx
  framework/elsa/fit-elsa-react/src/components/knowledgeRetrieval/knowledgeRetrievalComponent.jsx
  framework/elsa/fit-elsa-react/src/components/knowledgeRetrieval/knowledgeRetrievalNodeState.jsx
  framework/elsa/fit-elsa-react/src/components/knowledgeRetrieval/reducers.js
  framework/elsa/fit-elsa-react/src/components/llm/Model.jsx
  framework/elsa/fit-elsa-react/src/components/retrieval/KnowledgeForm.jsx
  framework/elsa/fit-elsa-react/src/data/GraphOperator.js
  framework/elsa/fit-elsa-react/src/flow/compatibility/compatibilityProcessors.js
Labels: type: bug, in: elsa

#124 [elsa] ci: fix version branch regex matching
  .github/workflows/elsa-compile.yml
Labels: type: task, in: elsa

#125 [elsa] enhance reference-type config protection
  framework/elsa/fit-elsa-react/src/data/GraphOperator.js
Labels: type: bug, in: elsa

#128 [elsa] fix(GraphOperator): optimize single-key update handling
  framework/elsa/fit-elsa-react/src/data/GraphOperator.js
Labels: type: bug, in: elsa

#130 [fit]修正文档中编译输出目录描述不一致的问题
  docs/framework/fit/java/articles/FIT框架：重新定义模块隔离与部署自由，让Swagger从生产环境“优雅消失”.md
  docs/framework/fit/java/quick-start-guide/03. 使用插件的热插拔能力.md
  docs/framework/fit/java/user-guide-book/03. Conf 配置.md
  docs/framework/fit/java/user-guide-book/06. 插件化开发.md
  docs/framework/fit/java/user-guide-book/08. 日志.md
Labels: type: documentation, in: fit

#122 [fel] 更新 ToolInfo 对象中 uniqueName 的获取逻辑，并迁移一部分内部接口
  framework/fel/java/components/pom.xml
  framework/fel/java/plugins/tool-discoverer/pom.xml
  framework/fel/java/plugins/tool-executor/pom.xml
  framework/fel/java/plugins/tool-factory-repository/pom.xml
  framework/fel/java/plugins/tool-factory-repository/src/main/java/modelengine/fel/tool/support/DefaultToolFactoryRepository.java
  framework/fel/java/plugins/tool-repository-simple/pom.xml
  framework/fel/java/pom.xml
  framework/fel/java/services/pom.xml
  framework/fel/java/services/tool-info/pom.xml
  framework/fel/java/services/tool-info/src/main/java/modelengine/fel/tool/info/entity/DefinitionEntity.java
  framework/fel/java/services/tool-info/src/main/java/modelengine/fel/tool/info/entity/DefinitionGroupEntity.java
  framework/fel/java/services/tool-info/src/main/java/modelengine/fel/tool/info/entity/GroupEntity.java
  framework/fel/java/services/tool-info/src/main/java/modelengine/fel/tool/info/entity/HttpJsonEntity.java
  framework/fel/java/services/tool-info/src/main/java/modelengine/fel/tool/info/entity/ParameterEntity.java
  framework/fel/java/services/tool-info/src/main/java/modelengine/fel/tool/info/entity/PluginJsonEntity.java
  framework/fel/java/services/tool-info/src/main/java/modelengine/fel/tool/info/entity/PropertyEntity.java
  framework/fel/java/services/tool-info/src/main/java/modelengine/fel/tool/info/entity/ReturnPropertyEntity.java
  framework/fel/java/services/tool-info/src/main/java/modelengine/fel/tool/info/entity/SchemaEntity.java
  framework/fel/java/services/tool-info/src/main/java/modelengine/fel/tool/info/entity/ToolEntity.java
  framework/fel/java/services/tool-info/src/main/java/modelengine/fel/tool/info/entity/ToolGroupEntity.java
  framework/fel/java/services/tool-info/src/main/java/modelengine/fel/tool/info/entity/ToolJsonEntity.java
  framework/fel/java/services/tool-info/src/main/java/modelengine/fel/tool/info/schema/PluginSchema.java
  framework/fel/java/services/tool-info/src/main/java/modelengine/fel/tool/info/schema/ToolsSchema.java
  framework/fel/java/services/tool-service/src/main/java/modelengine/fel/tool/ToolInfoEntity.java
  framework/fel/java/services/tool-service/src/main/java/modelengine/fel/tool/model/transfer/ToolData.java
  framework/fel/java/services/tool-service/src/main/java/modelengine/fel/tool/service/DefinitionGroupService.java
  framework/fel/java/services/tool-service/src/main/java/modelengine/fel/tool/service/DefinitionService.java
  framework/fel/java/services/tool-service/src/main/java/modelengine/fel/tool/service/ToolGroupService.java
  framework/fel/java/services/tool-service/src/main/java/modelengine/fel/tool/service/ToolService.java
Labels: type: enhancement, in: fel

#133 [fel] add FIT MCP server
  framework/fel/java/plugins/pom.xml
  framework/fel/java/plugins/tool-mcp-server/pom.xml
  framework/fel/java/plugins/tool-mcp-server/src/main/java/modelengine/fel/tool/mcp/server/McpController.java
  framework/fel/java/plugins/tool-mcp-server/src/main/java/modelengine/fel/tool/mcp/server/McpServer.java
  framework/fel/java/plugins/tool-mcp-server/src/main/java/modelengine/fel/tool/mcp/server/MessageHandler.java
  framework/fel/java/plugins/tool-mcp-server/src/main/java/modelengine/fel/tool/mcp/server/MessageRequest.java
  framework/fel/java/plugins/tool-mcp-server/src/main/java/modelengine/fel/tool/mcp/server/MessageResponse.java
  framework/fel/java/plugins/tool-mcp-server/src/main/java/modelengine/fel/tool/mcp/server/entity/JsonRpcEntity.java
  framework/fel/java/plugins/tool-mcp-server/src/main/java/modelengine/fel/tool/mcp/server/entity/ToolEntity.java
  framework/fel/java/plugins/tool-mcp-server/src/main/java/modelengine/fel/tool/mcp/server/handler/AbstractMessageHandler.java
  framework/fel/java/plugins/tool-mcp-server/src/main/java/modelengine/fel/tool/mcp/server/handler/InitializeHandler.java
  framework/fel/java/plugins/tool-mcp-server/src/main/java/modelengine/fel/tool/mcp/server/handler/ToolCallHandler.java
  framework/fel/java/plugins/tool-mcp-server/src/main/java/modelengine/fel/tool/mcp/server/handler/ToolListHandler.java
  framework/fel/java/plugins/tool-mcp-server/src/main/java/modelengine/fel/tool/mcp/server/handler/UnsupportedMethodHandler.java
  framework/fel/java/plugins/tool-mcp-server/src/main/java/modelengine/fel/tool/mcp/server/support/DefaultMcpServer.java
  framework/fel/java/plugins/tool-mcp-server/src/main/resources/application.yml
  framework/fel/java/plugins/tool-repository-simple/src/main/java/modelengine/fel/tool/support/SimpleToolRepository.java
  framework/fel/java/services/tool-service/src/main/java/modelengine/fel/tool/service/ToolChangedObserver.java
  framework/fit/java/fit-builtin/plugins/fit-http-server-netty/src/main/java/modelengine/fit/http/server/netty/NettyHttpServerRequest.java
  framework/fit/java/fit-builtin/plugins/fit-http-server-netty/src/main/java/modelengine/fit/http/server/netty/NettyHttpServerResponse.java
  framework/fit/java/fit-builtin/plugins/fit-message-serializer-json-jackson/src/main/java/modelengine/fit/serialization/json/jackson/JacksonObjectSerializer.java
  framework/fit/java/fit-builtin/plugins/fit-message-serializer-json-jackson/src/test/java/modelengine/fit/serialization/json/jackson/JacksonObjectSerializerTest.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/server/HttpClassicServerRequest.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/server/HttpClassicServerResponse.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/server/support/DefaultHttpClassicServerRequest.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/server/support/DefaultHttpClassicServerResponse.java
  framework/fit/java/fit-builtin/services/fit-http-protocol/definition/src/main/java/modelengine/fit/http/protocol/ServerRequest.java
  framework/fit/java/fit-builtin/services/fit-http-protocol/definition/src/main/java/modelengine/fit/http/protocol/ServerResponse.java
Labels: type: enhancement, in: fel

#134 [fit] upgrade tornado from 6.4.2 to 6.5.0
  framework/fit/python/requirements.txt
Labels: in: fit, type: dependency-upgrade

#131 feat: Add readOnly mode to JadeFlowEntry for history view
  framework/elsa/fit-elsa-react/src/components/common/JadeObservableOutput.jsx
  framework/elsa/fit-elsa-react/src/components/common/JadeObservableTree.jsx
  framework/elsa/fit-elsa-react/src/components/common/OutputForm.jsx
  framework/elsa/fit-elsa-react/src/components/condition/conditionNodeCondition.jsx
  framework/elsa/fit-elsa-react/src/components/llm/LlmOutput.jsx
  framework/elsa/fit-elsa-react/src/components/util/BranchUtil.js
  framework/elsa/fit-elsa-react/src/flow/jadeFlowEntry.jsx
  framework/elsa/fit-elsa-react/src/flow/jadeFlowPage.js
  framework/elsa/fit-elsa-react/src/flow/runners.js
Labels: type: feature, in: elsa

#132 fix(ConnectorProvider): Sync connector name changes with connected lines (fixes #41)
  framework/elsa/fit-elsa-react/src/components/common/ConnectorProvider.jsx
Labels: type: bug, in: elsa

#135 [elsa] fix(JadeReferenceTreeSelect): Force reference updates on same selection
  framework/elsa/fit-elsa-react/src/components/common/JadeReferenceTreeSelect.jsx
Labels: type: bug, in: elsa

#136 [fel] add notification/tools/list_changed method in MCP server
  framework/fel/java/plugins/tool-mcp-server/pom.xml
  framework/fel/java/plugins/tool-mcp-server/src/main/java/modelengine/fel/tool/mcp/server/McpController.java
  framework/fel/java/plugins/tool-mcp-server/src/main/java/modelengine/fel/tool/mcp/server/McpServer.java
  framework/fel/java/plugins/tool-mcp-server/src/main/java/modelengine/fel/tool/mcp/server/handler/InitializeHandler.java
  framework/fel/java/plugins/tool-mcp-server/src/main/java/modelengine/fel/tool/mcp/server/handler/ToolCallHandler.java
  framework/fel/java/plugins/tool-mcp-server/src/main/java/modelengine/fel/tool/mcp/server/handler/ToolListHandler.java
  framework/fel/java/plugins/tool-mcp-server/src/main/java/modelengine/fel/tool/mcp/server/support/DefaultMcpServer.java
  framework/fel/java/plugins/tool-mcp-server/src/test/java/modelengine/fel/tool/mcp/server/McpControllerTest.java
  framework/fel/java/plugins/tool-mcp-server/src/test/java/modelengine/fel/tool/mcp/server/support/DefaultMcpServerTest.java
Labels: type: enhancement, in: fel

#137 [fel] update tool-info parent
  framework/fel/java/services/tool-info/pom.xml
Labels: type: enhancement, in: fel

#141 [fel] Enhanced MCP Client and Server Interaction with Tool Management Improvements
  framework/fel/java/fel-core/src/main/java/modelengine/fel/core/tool/ToolInfo.java
  framework/fel/java/plugins/tool-executor/src/main/java/modelengine/fel/tool/support/DefaultToolExecutor.java
  framework/fel/java/plugins/tool-mcp-client/src/main/java/modelengine/fel/tool/mcp/client/support/DefaultMcpClient.java
  framework/fel/java/plugins/tool-mcp-client/src/main/java/modelengine/fel/tool/mcp/client/support/DefaultMcpClientFactory.java
  framework/fel/java/plugins/tool-mcp-server/src/main/java/modelengine/fel/tool/mcp/server/McpServer.java
  framework/fel/java/plugins/tool-mcp-server/src/main/java/modelengine/fel/tool/mcp/server/McpServerController.java
  framework/fel/java/plugins/tool-mcp-server/src/main/java/modelengine/fel/tool/mcp/server/handler/InitializeHandler.java
  framework/fel/java/plugins/tool-mcp-server/src/main/java/modelengine/fel/tool/mcp/server/support/DefaultMcpServer.java
  framework/fel/java/plugins/tool-mcp-server/src/test/java/modelengine/fel/tool/mcp/server/McpServerControllerTest.java
  framework/fel/java/plugins/tool-mcp-server/src/test/java/modelengine/fel/tool/mcp/server/support/DefaultMcpServerTest.java
  framework/fel/java/plugins/tool-mcp-test/pom.xml
  framework/fel/java/plugins/tool-mcp-test/src/main/java/modelengine/fel/tool/mcp/test/TestController.java
  framework/fel/java/plugins/tool-mcp-test/src/main/java/modelengine/fel/tool/mcp/test/tool/WeatherService.java
  framework/fel/java/plugins/tool-mcp-test/src/main/java/modelengine/fel/tool/mcp/test/tool/WeatherServiceImpl.java
  framework/fel/java/plugins/tool-repository-simple/src/main/java/modelengine/fel/tool/support/SimpleToolRepository.java
  framework/fel/java/services/tool-mcp-client-service/src/main/java/modelengine/fel/tool/mcp/client/McpClientFactory.java
  framework/fel/java/services/tool-mcp-common/src/main/java/modelengine/fel/tool/mcp/entity/ClientSchema.java
  framework/fel/java/services/tool-mcp-common/src/main/java/modelengine/fel/tool/mcp/entity/JsonRpc.java
  framework/fel/java/services/tool-mcp-common/src/main/java/modelengine/fel/tool/mcp/entity/Server.java
  framework/fel/java/services/tool-mcp-common/src/main/java/modelengine/fel/tool/mcp/entity/ServerSchema.java
  framework/fel/java/services/tool-service/src/main/java/modelengine/fel/tool/service/ToolChangedObserver.java
  framework/fit/java/fit-builtin/plugins/fit-http-client-okhttp/src/main/java/modelengine/fit/http/client/okhttp/OkHttpClientRequest.java
  framework/fit/java/fit-builtin/plugins/fit-http-handler-registry/src/test/java/modelengine/fit/http/server/handler/DefaultReflectibleHttpHandlerTest.java
  framework/fit/java/fit-builtin/plugins/fit-http-handler-registry/src/test/java/modelengine/fit/http/server/handler/support/DefaultHttpExceptionHandlerTest.java
  framework/fit/java/fit-builtin/plugins/fit-http-server-netty/src/main/java/modelengine/fit/http/server/netty/NettyHttpServerRequest.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/HttpClassicRequest.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/support/AbstractHttpClassicRequest.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/util/HttpUtils.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/test/java/modelengine/fit/http/client/HttpClassicClientTest.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/test/java/modelengine/fit/http/client/support/DefaultHttpClassicClientRequestTest.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/test/java/modelengine/fit/http/server/handler/MockHttpClassicServerRequest.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/test/java/modelengine/fit/http/support/DefaultQueryCollectionTest.java
  framework/fit/java/fit-builtin/services/fit-http-protocol/definition/src/main/java/modelengine/fit/http/protocol/QueryCollection.java
  framework/fit/java/fit-builtin/services/fit-http-protocol/definition/src/main/java/modelengine/fit/http/protocol/RequestLine.java
  framework/fit/java/fit-builtin/services/fit-http-protocol/definition/src/main/java/modelengine/fit/http/protocol/support/DefaultQueryCollection.java
  framework/fit/java/fit-builtin/services/fit-http-protocol/definition/src/main/java/modelengine/fit/http/protocol/support/DefaultRequestLine.java
  framework/fit/java/fit-builtin/services/fit-http-protocol/definition/src/main/java/modelengine/fit/http/protocol/util/QueryUtils.java
  framework/fit/java/fit-builtin/services/fit-http-protocol/definition/src/test/java/modelengine/fit/http/protocol/support/DefaultRequestLineTest.java
Labels: type: enhancement, in: fel

#142 [elsa] fix(JadeObservableOutput): conditionally render description column to avoid empty space
  framework/elsa/fit-elsa-react/src/components/common/JadeObservableOutput.jsx
Labels: type: bug, in: elsa

#146 [fel] Improve McpClient lifecycle management with closed state tracking
  framework/fel/java/plugins/tool-mcp-client/src/main/java/modelengine/fel/tool/mcp/client/support/DefaultMcpClient.java
Labels: type: enhancement, in: fel

#147 [fel] Add configurable ping interval
  framework/fel/java/plugins/tool-mcp-client/src/main/java/modelengine/fel/tool/mcp/client/support/DefaultMcpClient.java
  framework/fel/java/plugins/tool-mcp-client/src/main/java/modelengine/fel/tool/mcp/client/support/DefaultMcpClientFactory.java
  framework/fel/java/plugins/tool-mcp-client/src/main/resources/application.yml
Labels: type: enhancement, in: fel

#149 [fit] Re-register all information to the registry after successful reconnection
  framework/fit/python/plugin/fit_py_heart_beat_agent/heart_beat_agent.py
Labels: type: bug, in: fel
