Repository ModelEngine-Group/fit-framework, pull requests merged in 2025-09, with the labels that each got.

#289 [elsa] Use the dom-to-image package of the third party package instead of internal files.
  framework/elsa/fit-elsa/common/dom2image.js
  framework/elsa/fit-elsa/core/thumb.js
  framework/elsa/fit-elsa/package.json
Labels: type: enhancement, in: elsa

#275 [fit] Enhance FIT's i18n capabilities by parsing locales from HTTP requests.
  framework/fit/java/fit-builtin/plugins/fit-validation-hibernate-jakarta/src/main/java/modelengine/fitframework/validation/LocaleContextMessageInterpolator.java
  framework/fit/java/fit-builtin/plugins/fit-validation-hibernate-jakarta/src/main/java/modelengine/fitframework/validation/LocaleMessageInterpolator.java
  framework/fit/java/fit-builtin/plugins/fit-validation-hibernate-jakarta/src/main/java/modelengine/fitframework/validation/ValidationHandler.java
  framework/fit/java/fit-builtin/plugins/fit-validation-hibernate-jakarta/src/test/java/modelengine/fitframework/validation/LocaleValidationControllerTest.java
  framework/fit/java/fit-builtin/plugins/fit-validation-hibernate-jakarta/src/test/java/modelengine/fitframework/validation/ValidationHandlerTest.java
  framework/fit/java/fit-builtin/plugins/fit-validation-hibernate-jakarta/src/test/java/modelengine/fitframework/validation/data/GroupValidateService.java
  framework/fit/java/fit-builtin/plugins/fit-validation-hibernate-jakarta/src/test/java/modelengine/fitframework/validation/data/LocaleResolveFilterConfig.java
  framework/fit/java/fit-builtin/plugins/fit-validation-hibernate-jakarta/src/test/java/modelengine/fitframework/validation/data/LocaleValidationController.java
  framework/fit/java/fit-builtin/plugins/fit-validation-hibernate-javax/src/main/java/modelengine/fitframework/validation/LocaleContextMessageInterpolator.java
  framework/fit/java/fit-builtin/plugins/fit-validation-hibernate-javax/src/main/java/modelengine/fitframework/validation/LocaleMessageInterpolator.java
  framework/fit/java/fit-builtin/plugins/fit-validation-hibernate-javax/src/main/java/modelengine/fitframework/validation/ValidationHandler.java
  framework/fit/java/fit-builtin/plugins/fit-validation-hibernate-javax/src/test/java/modelengine/fitframework/validation/LocaleValidationControllerTest.java
  framework/fit/java/fit-builtin/plugins/fit-validation-hibernate-javax/src/test/java/modelengine/fitframework/validation/ValidationHandlerTest.java
  framework/fit/java/fit-builtin/plugins/fit-validation-hibernate-javax/src/test/java/modelengine/fitframework/validation/data/GroupValidateService.java
  framework/fit/java/fit-builtin/plugins/fit-validation-hibernate-javax/src/test/java/modelengine/fitframework/validation/data/LocaleResolveFilterConfig.java
  framework/fit/java/fit-builtin/plugins/fit-validation-hibernate-javax/src/test/java/modelengine/fitframework/validation/data/LocaleValidationController.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/util/i18n/DefualtLocaleResolver.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/util/i18n/LocaleResolveFilter.java
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/util/i18n/LocaleResolver.java
  framework/fit/java/fit-util/src/main/java/modelengine/fitframework/util/i18n/LocaleContextHolder.java
  framework/fit/java/fit-util/src/test/java/modelengine/fitframework/util/i18n/LocaleContextHolderTest.java
Labels: in: fit, type: feature

#287 [fit] add text/* mimetype for text serializer
  framework/fit/java/fit-builtin/services/fit-http-classic/definition/src/main/java/modelengine/fit/http/support/DefaultSerializers.java
Labels: type: enhancement, in: fit

#299 [waterflow] supports configuring uuid generator
  framework/waterflow/java/waterflow-core/src/main/java/modelengine/fit/waterflow/domain/utils/UUIDUtil.java
  framework/waterflow/java/waterflow-core/src/test/java/modelengine/fit/waterflow/domain/utils/UUIDUtilTest.java
Labels: type: enhancement, in: waterflow

#300 [elsa] add text concatenate node
  framework/elsa/fit-elsa-react/src/App.jsx
  framework/elsa/fit-elsa-react/src/components/asserts/icon-text-concatenation.svg
  framework/elsa/fit-elsa-react/src/components/common/TemplatePanel.jsx
  framework/elsa/fit-elsa-react/src/components/common/prompt/Prompt.jsx
  framework/elsa/fit-elsa-react/src/components/common/prompt/PromptDrawer.jsx
  framework/elsa/fit-elsa-react/src/components/textConcatenationNode/reducers/reducer.js
  framework/elsa/fit-elsa-react/src/components/textConcatenationNode/textConcatenateNodeComponent.jsx
  framework/elsa/fit-elsa-react/src/components/textConcatenationNode/textConcatenateNodeDrawer.jsx
  framework/elsa/fit-elsa-react/src/components/textConcatenationNode/textConcatenateNodeState.jsx
  framework/elsa/fit-elsa-react/src/components/textConcatenationNode/textConcatenateNodeWrapper.jsx
  framework/elsa/fit-elsa-react/src/flow/jadeFlowGraph.js
  framework/elsa/fit-elsa-react/src/i18n/en_US.json
  framework/elsa/fit-elsa-react/src/i18n/zh_CN.json
Labels: type: feature, in: elsa

#297 [fit] 新增build、package 命令
  framework/fit/python/fit_cli/commands/build_cmd.py
  framework/fit/python/fit_cli/commands/init_cmd.py
  framework/fit/python/fit_cli/commands/package_cmd.py
  framework/fit/python/fit_cli/main.py
  framework/fit/python/fit_cli/readme.md
  framework/fit/python/fit_cli/utils/__init__.py
  framework/fit/python/fit_cli/utils/build.py
Labels: in: fit, type: feature

#310 Priority inmem registry
  framework/fit/java/fit-builtin/plugins/fit-service-coordination-nacos/README.md
  framework/fit/java/fit-builtin/plugins/fit-service-coordination-nacos/pom.xml
  framework/fit/python/fit_py_nacos_registry/README.md
  framework/fit/python/fit_py_nacos_registry/conf/application.yml
  framework/fit/python/fit_py_nacos_registry/conf/info.yml
  framework/fit/python/fit_py_nacos_registry/heartbeat/heartbeat_service.py
  framework/fit/python/fit_py_nacos_registry/service/__init__.py
  framework/fit/python/fit_py_nacos_registry/service/async_executor.py
  framework/fit/python/fit_py_nacos_registry/service/config.py
  framework/fit/python/fit_py_nacos_registry/service/constants.py
  framework/fit/python/fit_py_nacos_registry/service/nacos_registry_server.py
  framework/fit/python/fit_py_nacos_registry/service/parsers.py
  framework/fit/python/fit_py_nacos_registry/service/utils.py
Labels: type: bug, in: fit

#316 [Elsa] bugfix: fix variable update node bugs
  framework/elsa/fit-elsa-react/src/components/variableUpdate/VariableUpdateInputForm.jsx
  framework/elsa/fit-elsa-react/src/components/variableUpdate/variableUpdateComponent.jsx
  framework/elsa/fit-elsa-react/src/components/variableUpdate/variableUpdateNodeState.jsx
Labels: type: bug, in: elsa

#318 [fit] 增加 fit 注册中心默认配置
  framework/fit/java/fit-runtime/src/main/resources/fitframework.yml
Labels: type: bug, in: fit
