Repository ModelEngine-Group/fit-framework, pull requests merged in 2025-07, with the labels that each got.

#192 [fel] Improve the code of ecological plug-ins and introduce third-party packages
  framework/fel/python/plugins/fel_langchain_tools/langchain_tools.py
  framework/fel/python/plugins/fel_llama_index_tools/llama_rag_basic_toolkit.py
  framework/fel/python/plugins/fel_llama_index_tools/node_utils.py
  framework/fel/python/plugins/fel_llamaindex_network_tools/llamaindex_network_tool.py
  framework/fel/python/requirements.txt
Labels: type: enhancement, in: fel

#191 [elsa] refactor(NodeState): unify intelligentForm and manualCheck node states
  framework/elsa/fit-elsa-react/src/components/intelligentForm/Consts.js
  framework/elsa/fit-elsa-react/src/components/intelligentForm/IntelligentFormWrapper.jsx
  framework/elsa/fit-elsa-react/src/components/intelligentForm/SimpleFormWrapper.jsx
  framework/elsa/fit-elsa-react/src/components/intelligentForm/intelligentFormComponent.jsx
  framework/elsa/fit-elsa-react/src/components/intelligentForm/intelligentFormNodeState.jsx
  framework/elsa/fit-elsa-react/src/components/intelligentForm/reducers.js
  framework/elsa/fit-elsa-react/src/components/knowledgeRetrieval/knowledgeRetrievalComponent.jsx
  framework/elsa/fit-elsa-react/src/components/knowledgeRetrieval/reducers.js
  framework/elsa/fit-elsa-react/src/components/llm/llmComponent.jsx
  framework/elsa/fit-elsa-react/src/components/loopNode/LoopConsts.js
  framework/elsa/fit-elsa-react/src/components/loopNode/loopComponent.jsx
  framework/elsa/fit-elsa-react/src/components/parallelNode/parallelComponent.jsx
  framework/elsa/fit-elsa-react/src/flow/compatibility/compatibilityProcessors.js
  framework/elsa/fit-elsa-react/src/i18n/en_US.json
  framework/elsa/fit-elsa-react/src/i18n/zh_CN.json
Labels: type: feature, in: elsa

#194 [fel] add default memory
  framework/fel/java/fel-core/src/main/java/modelengine/fel/core/memory/support/RecentMemory.java
  framework/fel/java/fel-core/src/test/java/modelengine/fel/core/memory/support/RecentMemoryTest.java
  framework/fel/java/fel-flow/pom.xml
  framework/fel/java/fel-flow/src/main/java/modelengine/fel/engine/flows/Conversation.java
  framework/fel/java/fel-flow/src/main/java/modelengine/fel/engine/operators/models/LlmEmitter.java
  framework/fel/java/fel-flow/src/test/java/modelengine/fel/engine/operators/models/LlmEmitterTest.java
Labels: type: enhancement, in: fel

#201 [tool] Upgrade tool compilation tool to adapt to mcp tool mode
  framework/fel/java/maven-plugins/tool-maven-plugin/src/main/java/modelengine/fel/maven/complie/parser/ByteBuddySchemaParser.java
  framework/fel/java/maven-plugins/tool-maven-plugin/src/test/resources/weather-tools.json
  framework/fel/java/services/tool-info/src/main/java/modelengine/fel/tool/info/entity/PropertyEntity.java
Labels: type: enhancement, in: fel

#203 [elsa] Force lock the Rollup version to 4.39.0.
  framework/elsa/fit-elsa-react/package.json
Labels: type: bug, in: elsa

#205 [fit] optimize test framework to support executing specific actions at test startup
  framework/fit/java/fit-test/fit-test-framework/src/main/java/modelengine/fitframework/test/annotation/Sql.java
  framework/fit/java/fit-test/fit-test-framework/src/main/java/modelengine/fitframework/test/domain/TestPlugin.java
  framework/fit/java/fit-test/fit-test-framework/src/main/java/modelengine/fitframework/test/domain/listener/DataSourceListener.java
  framework/fit/java/fit-test/fit-test-framework/src/main/java/modelengine/fitframework/test/domain/listener/MockMvcListener.java
  framework/fit/java/fit-test/fit-test-framework/src/main/java/modelengine/fitframework/test/domain/listener/SqlExecuteListener.java
  framework/fit/java/fit-test/fit-test-framework/src/main/java/modelengine/fitframework/test/domain/resolver/DefaultTestClassResolver.java
  framework/fit/java/fit-test/fit-test-framework/src/main/java/modelengine/fitframework/test/domain/resolver/DefaultTestContextConfiguration.java
  framework/fit/java/fit-test/fit-test-framework/src/main/java/modelengine/fitframework/test/domain/resolver/TestContextConfiguration.java
  framework/fit/java/integration/fit-mybatis/src/test/java/modelengine/fit/integration/mybatis/WordMapperTest.java
Labels: type: enhancement, in: fit

#206 [elsa] Add MCPServerConfig configuration to the large model node.
  framework/elsa/fit-elsa-react/src/common/Consts.js
  framework/elsa/fit-elsa-react/src/components/common/prompt/Prompt.jsx
  framework/elsa/fit-elsa-react/src/components/llm/LlmFormWrapper.jsx
  framework/elsa/fit-elsa-react/src/components/llm/McpConfigForm.jsx
  framework/elsa/fit-elsa-react/src/components/llm/ModelForm.jsx
  framework/elsa/fit-elsa-react/src/components/llm/llmComponent.jsx
  framework/elsa/fit-elsa-react/src/components/llm/reducers/reducers.js
  framework/elsa/fit-elsa-react/src/flow/compatibility/compatibilityProcessors.js
  framework/elsa/fit-elsa-react/src/i18n/en_US.json
  framework/elsa/fit-elsa-react/src/i18n/zh_CN.json
Labels: type: feature, in: elsa

#209 fix: stop respawning on macOS, align with Windows behavior
  framework/fit/python/fitframework/__init__.py
Labels: type: bug, in: fit

#217 [python] Register fitable to the registration center during heartbeat
  framework/fit/python/plugin/fit_py_heart_beat_agent/heart_beat_agent.py
Labels: type: enhancement, in: fit

#227 [elsa] knowledge node add rerank UI
  framework/elsa/fit-elsa-react/src/common/Consts.js
  framework/elsa/fit-elsa-react/src/components/knowledgeRetrieval/KnowledgeRetrievalWrapper.jsx
  framework/elsa/fit-elsa-react/src/components/knowledgeRetrieval/OutsideRerankForm.jsx
  framework/elsa/fit-elsa-react/src/components/knowledgeRetrieval/SearchForm.jsx
  framework/elsa/fit-elsa-react/src/components/knowledgeRetrieval/knowledgeRetrievalComponent.jsx
  framework/elsa/fit-elsa-react/src/components/knowledgeRetrieval/reducers.js
  framework/elsa/fit-elsa-react/src/flow/compatibility/compatibilityProcessors.js
  framework/elsa/fit-elsa-react/src/i18n/en_US.json
  framework/elsa/fit-elsa-react/src/i18n/zh_CN.json
Labels: type: feature, in: elsa
