Repository ModelEngine-Group/fit-framework, pull requests merged in 2025-08, with the labels that each got.

#233 Documentation: optimize FIT readme
  README.md
Labels: type: documentation, in: fit

#234 [fel] Add MCP error handle
  framework/fel/java/plugins/tool-mcp-client/src/main/java/modelengine/fel/tool/mcp/client/support/DefaultMcpClient.java
  framework/fel/java/plugins/tool-mcp-client/src/main/java/modelengine/fel/tool/mcp/client/support/Result.java
Labels: type: bug, in: fel

#240 [fel] Remove asyncio from the whitelist
  framework/fel/python/plugins/builtins/fit_py_code_node_tools/conf/application.yml
  framework/fel/python/plugins/builtins/fit_py_code_node_tools/python_repl_impl.py
Labels: type: enhancement, in: fel

#178 Add nacos registry plugin
  examples/fit-example/08-nacos-complicated-apps/app-assistant/pom.xml
  examples/fit-example/08-nacos-complicated-apps/app-assistant/src/main/java/modelengine/fit/example/AssistantStarter.java
  examples/fit-example/08-nacos-complicated-apps/app-assistant/src/main/java/modelengine/fit/example/controller/AssistantController.java
  examples/fit-example/08-nacos-complicated-apps/app-assistant/src/main/resources/application.yml
  examples/fit-example/08-nacos-complicated-apps/app-default-weather/pom.xml
  examples/fit-example/08-nacos-complicated-apps/app-default-weather/src/main/java/modelengine/fit/example/DefaultWeather.java
  examples/fit-example/08-nacos-complicated-apps/app-default-weather/src/main/java/modelengine/fit/example/DefaultWeatherStarter.java
  examples/fit-example/08-nacos-complicated-apps/app-default-weather/src/main/resources/application.yml
  examples/fit-example/08-nacos-complicated-apps/pom.xml
  examples/fit-example/08-nacos-complicated-apps/service/pom.xml
  examples/fit-example/08-nacos-complicated-apps/service/src/main/java/modelengine/fit/example/Weather.java
  examples/fit-example/pom.xml
  framework/fit/java/fit-api/src/main/java/modelengine/fitframework/conf/runtime/MatataConfig.java
  framework/fit/java/fit-api/src/main/java/modelengine/fitframework/conf/runtime/RegistryConnectMode.java
  framework/fit/java/fit-builtin/plugins/fit-service-coordination-locator/src/main/java/modelengine/fit/service/locator/AddressRepository.java
  framework/fit/java/fit-builtin/plugins/fit-service-coordination-nacos/pom.xml
  framework/fit/java/fit-builtin/plugins/fit-service-coordination-nacos/src/main/java/modelengine/fit/heartbeat/server/HeartbeatServer.java
  framework/fit/java/fit-builtin/plugins/fit-service-coordination-nacos/src/main/java/modelengine/fit/service/server/NacosConfig.java
  framework/fit/java/fit-builtin/plugins/fit-service-coordination-nacos/src/main/java/modelengine/fit/service/server/NacosRegistryServer.java
  framework/fit/java/fit-builtin/plugins/fit-service-coordination-nacos/src/main/resources/application.yml
  framework/fit/java/fit-builtin/plugins/fit-service-coordination-simple/src/main/java/modelengine/fit/heartbeat/server/HeartbeatServer.java
  framework/fit/java/fit-builtin/plugins/fit-service-coordination-simple/src/main/java/modelengine/fit/service/server/RegistryServer.java
  framework/fit/java/fit-builtin/plugins/fit-service-discovery/src/main/java/modelengine/fit/service/RegistryListener.java
  framework/fit/java/fit-builtin/plugins/pom.xml
  framework/fit/java/fit-builtin/services/fit-heartbeat/definition/src/main/java/modelengine/fit/heartbeat/HeartbeatService.java
  framework/fit/java/fit-builtin/services/fit-service/definition/src/main/java/modelengine/fit/service/Notify.java
  framework/fit/java/fit-builtin/services/fit-service/definition/src/main/java/modelengine/fit/service/RegistryService.java
  framework/fit/java/fit-conf/fit-conf/src/main/java/modelengine/fitframework/conf/runtime/DefaultRegistry.java
  framework/fit/java/fit-runtime/src/main/resources/fitframework.yml
  framework/fit/python/conf/fit.yml
  framework/fit/python/fitframework/const.py
  framework/fit/python/plugin/fit_py_registry_client/conf/application.yml
Labels: in: fit, type: feature

#228 [fel] update langchain network tools meta
  framework/fel/python/plugins/fel_langchain_network_tools/callable_registers.py
  framework/fel/python/plugins/fel_langchain_network_tools/langchain_network_tool.py
  framework/fel/python/plugins/fel_langchain_network_tools/tools.json
Labels: type: enhancement, in: fel

#253 修复code节点说明错误问题
  framework/elsa/fit-elsa-react/src/i18n/en_US.json
  framework/elsa/fit-elsa-react/src/i18n/zh_CN.json
Labels: type: bug, in: elsa

#252 增加 nacos 插件的 readme 文件
  framework/fit/java/fit-builtin/plugins/fit-service-coordination-nacos/README.md
Labels: type: documentation, in: fit

#254 [FEL] remove apikey header while input apikey is null
  framework/fel/java/fel-community/model-openai/src/main/java/modelengine/fel/community/model/openai/OpenAiModel.java
  framework/fel/java/fel-community/model-openai/src/main/java/modelengine/fel/community/model/openai/config/OpenAiConfig.java
Labels: type: bug, in: fel

#266 [fit] keep NettyResponse from closing prematurely
  framework/fit/java/fit-builtin/plugins/fit-http-server-netty/src/main/java/modelengine/fit/http/server/netty/HttpClassicRequestAssembler.java
Labels: type: bug, in: fit

#268 [fit] fix python heartbeat thread on mac
  framework/fit/python/plugin/fit_py_heart_beat_agent/heart_beat_agent.py
Labels: type: bug, in: fit

#270 [elsa] add knowledgeExtensions params of knowledgeRetrievalNode option struct.
  framework/elsa/fit-elsa-react/src/common/Consts.js
  framework/elsa/fit-elsa-react/src/components/knowledgeRetrieval/knowledgeRetrievalComponent.jsx
  framework/elsa/fit-elsa-react/src/flow/compatibility/compatibilityProcessors.js
Labels: type: enhancement, in: elsa
